.body {
    margin: 0px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-box_column {
    flex-direction: column;
    padding-top: 15px;
}

.page__hello {
    padding: 30px;
}

.flex-box_space-between {
    justify-content: space-between;
}

.flex-box_size_m {
    flex-basis: 50%;
}

.flex-box_size_s {
    flex-basis: 25%;
}

/*  */
.page__avatar {

}

.avatar {
    position: relative;
}

.avatar__image {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.avatar__logo {
    position: absolute;
    width: 100%;
    margin-top: 15px;
}

.logo__text {
    margin-left: 30%;
    line-height: 40px;
    text-shadow: 1px 1px 0 white;
}

/*  */
.avatar2 {
    position: relative;
    overflow: hidden;
    justify-content: center;
    min-height: 250px;
}

.avatar2__img2 {
    position: absolute;
    width: 350%;
    object-fit: cover;
}

.hello {
    background: rgb(240, 226,215);
}

.hello__menu {
    padding: 15px 0 120px 30px;
}

.menu__link {
    text-decoration: none;
    font-size: 10px;
    margin-right: 15px;
    color: black;
}

.menu__link:hover {
    color: rgb(228, 174, 88);
}

/* .content {
    margin: 0px 20px 0px 30px;
} */

/* .content__text {
    margin-bottom: 20px;
} */

.text_content {
    font-size: 12px;
    margin: 10px 0 10px 0;

}

.text_size_s-ultra {
    font-size: 10px;
}

.text_size_m {
    font-size: 16px;
}

.text_title {
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.text_weight_bold {
    font-weight: bold;
}

.text_color_gray {
    color: gray;
}

.text_color_orange {
    color: rgb(228, 174, 88);
}

.text_color_white {
    color: white;
}

/* .text_align_left {
    margin: 0px 20px 20px 30px;
} */

/* .text_align_center {
    text-align: center;
} */

.hello__button-wrapper {
    margin: 20px 0 20px 0;
}

.button {
    border-radius: 15px;
    cursor: pointer;
}

.content__button {
    background: rgb(240, 226,215);
    padding: 10px 20px;
    border: 3px solid black;
}

.donec {
    background: white;
}

.myskills {
    background: rgb(228, 174, 88);
}

.content__skill {
    margin-top: 15px;
}

.content__percent {
    height: 2px;
}

.percent_color_black {
    background: black;
}

.percent_color_white {
    background: white;
}

.percent_width_90 {
    width: 90%;
}

.percent_width_10 {
    width: 10%;
}

.percent_width_70 {
    width: 70%;
}

.percent_width_30 {
    width: 30%;
}

.percent_width_80 {
    width: 80%;
}

.percent_width_20 {
    width: 20%;
}

.interface-design {
    background: rgb(228, 174, 88);
    min-height: 250px;
    text-align: center;
}

.desktop {
    color: white;
    font-size: 24px;
}